@use "../base/variables" as *;

.card {
  flex: 1 1 clamp(300px, 45%, 600px);
  background: var(--background-lighter);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
  border-radius: 2.5rem;
  padding: 2.5rem;
  text-align: center;
  h2 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 50% 0%;
    border-radius: 1rem;
    filter: brightness(50%) contrast(110%);
    opacity: 0.5;
  }
  p {
    display: none;
  }

  figure {
    background: var(--background);
    position: relative;
    border-radius: 1rem;
    max-height: 200px;
  }
  .caption {
    background: var(--secondary);
    color: var(--background);
    padding: 1rem;
    font-size: 3rem;
    border-radius: 50%;
    font-weight: 900;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  a {
    align-self: center;
    width: auto;
  }
}
