@use "../media_queries" as mq;
@use "../base/variables" as *;

// footer [nav + social + credits]
footer {
  grid-area: footer;
  &.small-screen {
    display: none;
    background: var(--background-lighter);
    padding-top: 4rem;
    margin-bottom: 0;
    .social {
      margin-bottom: 6rem;
      i {
        font-size: 4rem;
      }
    }
    .text-hint {
      font-size: 1.4rem;
    }
  }
  &.big-screen {
    display: block;
  }
  .social {
    display: flex;
    justify-content: center;
    gap: 3.2rem;
    a {
      font-size: 2.4rem;
      line-height: 4rem;
      color: var(--background);
      background: var(--primary-lighter);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.8rem 1rem;
      opacity: 0.5;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
        box-shadow: 0px 0px 3px var(--primary-lighter);
      }
    }
  }

  .text-hint {
    font-size: 1rem;
    text-align: center;
    margin: 2.8rem 0;
  }
}

@include mq.md {
  footer.small-screen {
    display: block;
    grid-area: footer;
  }
  nav.small-screen {
    display: block;
  }
  footer.big-screen {
    display: none;
  }
}
