@use "../base/variables" as *;
@use "../tools/mixin" as m;



.bar-skill {
  margin: 0;
  height: 6px;
  background: var(--background-lighter);
  box-shadow: 0px 0px 2px var(--primary);
  border-radius: 3px;
  position: relative;
  @each $skill, $percent in $courses {
    @include m.skill-bar-content($skill, $percent);
  }
}
