.gradient-subtitle {
  background: linear-gradient(to right, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  text-transform: none;
  // font-size: 2rem;
}

.pt-4 {
  padding-top: 4rem;
}
.my-3 {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.ls-5 {
  letter-spacing: 0.5rem; /* 5px */
}
.ls-2 {
  letter-spacing: 0.2rem; /* 2px */
}

.no-text-transform {
  text-transform: none;
}

.o-08 {
  opacity: 0.8;
}

.zi-10 {
  transform: scale(170%);
}
img.zi-10 {
  object-position: 50% 50%;
}

.hide {
  display: none;
  &-none {
    display: inline-block;
  }
}

.oh {
  overflow: hidden;
}

// .hidden {
//   display: none !important;

// }
