:root {
  // colors
  --primary: #b4a7f7;
  --primary-lighter: #eddeff;
  --secondary: #80ffdb;
  --secondary-lighter: #c6ffed;
  --secondary-lighter-rgb: 198, 255, 237;
  //--background: #1B1B1B;
  //--background-lighter: #242427;
  --background: #1d1d1d;
  --background-lighter: #2d2d30;
  // --text: #e0e0e0;
  --text: #d9d9d9;
  // --hint: #828282;
  // --hint: #8C8C8C;
  --hint: var(--secondary);

  // fonts
  --title-font: "Manrope", sans-serif;
  --text-font: "Inter", sans-serif;
  --big-title-font: "Onest", sans-serif;
  // --box-shadow: 0px 0px 5px rgb(10, 10, 10);
  --box-shadow: 0px 0px 5px rgb(10, 10, 10);
  --box-shadow-primary: 0px 0px 1px var(--primary);
}

$img_path: "../../assets/_MG_1840.jpg";

// where-courseName : %
$courses: (
  ocr-python: 72%,
  ocr-php: 59%,
  ocr-c: 100%,
  ocr-web: 100%,
  ocr-algo: 100%,
  ocr-html: 100%,
  ocr-git: 100%,
  ocr-oop: 100%,
  ocr-js: 100%,
  ocr-sass: 100%,
  ocr-figma: 100%,
);
