@use "../tools/mixin" as m;

.courses-list {
  // @extend %grid-container-main;
  @include m.grid-container-main();
  gap: 2rem 3rem;
}

.courses {
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: var(--background-lighter);
    transform: scale(1.1);
  }
}
