@use "../tools/mixin" as m;
@use "../components/modal";

// %grid-container-main {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   align-items: stretch;
//   justify-content: center;
//   @include mq.l {
//       grid-template-columns: 1fr;
//     }
//     @include mq.md {
//         grid-template-columns: repeat(2, 1fr);
//     }
//     @include mq.s {
//       grid-template-columns: 1fr;
//     }
// }

.grid-container-main {
  // @extend %grid-container-main;
  @include m.grid-container-main();
  gap: 4rem 3rem;
  margin-bottom: 4rem;
}

.container .description p {
  text-align: left;
}
