<div class="social">
  <a
    rel="noopener"
    href="https://github.com/AdelinePat"
    target="_blank"
    title="Github"
  >
    <i class="fa-brands fa-github"></i>
  </a>
  <a
    rel="noopener"
    href="https://www.linkedin.com/in/adeline-patenne/"
    target="_blank"
    title="Linkedin"
  >
    <i class="fa-brands fa-linkedin-in"></i>
  </a>
</div>
<div class="text-hint">
  <p>© Copyright 2024-2025 - Adeline Patenne - Tous droits réservés</p>
  <p>Le logo a été réalisé par mes soins.</p>
</div>
