@use "../tools/mixin" as m;
@use "../tools/media_queries" as mq;

.title {
  display: inline-block;
  &-secondary {
    @include m.title(secondary);
  }
  &-primary {
    @include m.title(primary);
  }
  &-filter {
    display: flex;
    justify-content: space-between;
    padding-right: 0rem;
    padding-left: 0.5em;
    align-items: center;
    font-size: 2.5rem;

    span {
      margin-right: 0.5rem;
    }
  }
}

// Text-color using classes like .text-primary
.text {
  @include m.text-color(primary);
  @include m.text-color(primary-lighter);
  @include m.text-color(secondary);
  @include m.text-color(secondary-ligther);
  @include m.text-color(hint);
}

// generate btn
.btn {
  @include m.btn-color(primary-lighter);
  @include m.btn-color(primary);
  @include m.btn-color(secondary-lighter);
  @include m.btn-color(secondary);
  @include m.btn-reversed-color(primary-lighter);
}

// main .active {
//   background: red;
// }

.skills {
  @include m.skills-color(primary-lighter);
  @include m.skills-color(secondary-lighter);
}

.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: var(--background);
  min-width: 35rem;
  width: 60%;
  max-width: 90rem;
  border-radius: 25px;
  box-shadow: var(--box-shadow);
  text-align: center;
  padding-bottom: 3.2rem;
  position: relative;
  border: 1px solid var(--background-lighter);
  // position: fixed;
  // overflow-y: auto;
  // height: 100%;
  overflow: auto;
  scrollbar-width: none;

  .modal-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 200px;
    // background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .modal-figure {
    border-radius: 25px 25px 0px 0px;
    min-height: 200px;
    margin-bottom: 1.2rem;
    position: relative;
    filter: brightness(0.4) blur(1px);
  }

  h2 {
    font-size: 2.4rem;
    color: var(--secondary-lighter);
    text-shadow: 0px 0px 6px var(--secondary-lighter);
    border-color: var(--secondary-lighter);
  }
  h3 {
    color: var(--primary);
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    padding-top: 0;
  }
  p {
    text-align: left;
    // margin: 1.2rem 0 3.2rem 0;
    margin: 0.8rem 0 1.6rem 0;
    padding: 0.4rem 1.2rem;
    a {
      color: var(--primary);
      transition: color 0.2s;
      &:hover {
        color: var(--secondary);
      }
    }
  }
  .btn {
    margin-left: 0.8rem;
  }
}

body.modal-open {
  overflow: hidden; /* prevents background scrolling */
  position: fixed; /* optional: keeps scroll position */
  width: 100%;
}
