@use "../tools/media_queries" as mq;
@use "../base/variables" as *;
/* // Hamburger menu // */
.menu-phone {
  display: none;
  z-index: 1;
  grid-area: menuPhone;
  // padding-top: 5px;
  width: 100%;
  position: relative;
  padding: 1.2rem 2rem;
  background: red;
  background: var(--background-opacity);
  //   background: white;
  //   nav {
  //     background: red;
  //     // display: none;
  //   }
  nav {
    display: none;
    ul {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
      //   background: red;
    }
  }
  nav.open {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px) grayscale(0.5) contrast(0.9);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  a {
    z-index: 2;
  }
  img {
    height: 3rem;
  }
  @include mq.md {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
  }

  input[type="checkbox"] {
    // display: none;
    background: black;
    top: 18px;
    right: 24px;
    // height: 32px;
    height: 3.2rem;
    width: 3rem;
    cursor: pointer;
    opacity: 0;
  }

  /* Creating the hamburger menu => 3 horizontal lines that changed into a cross on click */

  label {
    width: 3rem;
    height: 0.2rem;
    // position: relative;
    position: absolute;
    top: 2.6rem;
    // left: 3.6rem;
    left: 2.2rem;
    // top: -18px;
    border-radius: 1px;
    background: var(--primary);
    border-radius: 0.2rem;
    transition: all 0.3s ease;
    cursor: pointer;
    @include mq.md {
      display: block;
      z-index: 2;
    }

    &:before,
    &:after {
      content: " ";
      display: block;
      position: relative;
      width: 3rem;
      height: 0.2rem;
      border-radius: 1px;
      transition: all 0.7s ease;
      z-index: 1;
    }

    &:before {
      bottom: 9px;
      background: var(--primary);
      transform-origin: left top;
      border-radius: 0.2rem;
    }

    &:after {
      top: 7px;
      background: var(--primary);
      transform-origin: left bottom;
      border-radius: 0.2rem;
    }
  }
}

#menu-hamburger {
  display: none;
  @include mq.md {
    display: block;
  }

  &:checked {
    & ~ label::before {
      transform: rotateZ(40deg);
      background: var(--secondary);
    }

    & ~ label::after {
      transform: rotateZ(-40deg);
      background: var(--secondary);
    }
    & ~ label {
      transition: all 0.3s ease;
      background: rgba(0, 0, 0, 0);
    }
  }
}
