@use "../tools/mixin" as m;
@use "../tools/media_queries" as mq;

nav {
  grid-area: nav;
  a {
    color: var(--primary);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 1rem 2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1.4rem;

    &::before {
      background: var(--primary);
      display: inline-block;
      width: 2.5rem;
      height: 0.1rem;
      margin-right: 0.5em;
      content: " ";
      transition: all 0.15s ease-in;
    }

    &.active::before {
      width: 5rem;
    }
    &:hover {
      // text-shadow: 0px 0px 1px var(--primary);
      text-shadow: var(--box-shadow-primary);
      &::before {
        width: 5rem;
        box-shadow: var(--box-shadow-primary);
        // box-shadow: 0px 0px 1px var(--primary);
      }
    }
  }

  @include mq.md {
    a {
      display: flex;
      justify-content: center;
      text-align: center;
      // background: red;
      font-size: 2rem;
      font-weight: 400;
      &.active::before {
        width: 2.5rem;
        background: var(--secondary);
      }
      &.active::after {
        background: var(--secondary);
      }
      &.active {
        color: var(--secondary);
        font-size: 2.5rem;
        letter-spacing: 0.5rem;
      }

      &::after {
        background: var(--primary);
        display: inline-block;
        width: 2.5rem;
        height: 0.1rem;
        margin-left: 0.5em;
        content: " ";
        transition: all 0.15s ease-in;
      }
      &:hover {
        &::before {
          width: 5rem;
        }
        &::after {
          width: 5rem;
          box-shadow: var(--box-shadow-primary);
          // box-shadow: 0px 0px 1px var(--primary);
        }
      }
    }
  }
}

@include mq.v-md {
  .mb-5 {
    margin-bottom: 2rem !important;
  }
}
