@use "../base/variables" as *;
@use "../tools/mixin" as m;

.courses h3 a {
  color: var(--secondary);
}

.bar-skill {
  margin: 0;
  height: 6px;
  background: var(--background-lighter);
  box-shadow: 0px 0px 2px var(--primary);
  border-radius: 3px;
  position: relative;
  .bar-skill-progress {
    @include m.skill-bar-content();
  }
  // ICI
  // @each $skill, $percent in $courses {
  //   @include m.skill-bar-content($skill, $percent);
  // }
}
