:root {
  // colors
  --primary: #b4a7f7;
  --primary-lighter: #eddeff;
  --secondary: #80ffdb;
  --secondary-lighter: #c6ffed;
  --secondary-lighter-rgb: 198, 255, 237;
  //--background: #1B1B1B;
  //--background-lighter: #242427;
  --background: #1d1d1d;
  --background-lighter: #2d2d30;
  --text: #e0e0e0;
  --hint: #828282;

  // fonts
  --title-font: "Manrope", sans-serif;
  --text-font: "Inter", sans-serif;
  --big-title-font: "Onest", sans-serif;
}

$img_path: "../../assets/_MG_1840.jpg";
