html {
  font-size: 62.5%;
}

body {
  background: var(--background);
  font-family: var(--text-font);
  font-size: 1.6rem;
  color: var(--text);
}

// base titles
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  font-weight: 500;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  margin-bottom: 1.2rem;
  text-transform: capitalize;
}

h1,
h2 {
  text-transform: uppercase;
  display: inline-block;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
 font-size: 1.2em; 
}