@use "mixin" as m;

.title {
  display: inline-block;
  &-odd {
    @include m.title(secondary);
  }
  &-even {
    @include m.title(primary);
  }
}

// Text-color using classes like .text-primary
.text {
  @include m.text-color(primary);
  @include m.text-color(primary-lighter);
  @include m.text-color(secondary);
  @include m.text-color(secondary-ligther);
  @include m.text-color(hint);
}

// generate btn 
.btn {
  @include m.btn-color(primary-lighter);
  @include m.btn-color(primary);
  @include m.btn-color(secondary-lighter);
  @include m.btn-color(secondary);
}
