@mixin title($color) {
    color: var(--#{$color});
    border-bottom: 1px solid var(--#{$color});
    text-shadow: 0px 0px 6px var(--#{$color});
}

@mixin text-color($color) {
    &-#{$color} {
        color: var(--#{$color});
    }
}

%btn {
    font-size: 1.4rem;
  color: var(--background);
  border-radius: 25px;
  display: inline-block;
  padding: 0.8rem 1.6rem;
  margin: 1rem;
//   padding: 0.8rem 1.6rem;
}

@mixin btn-color($color) {
    &-#{$color} {
        @extend %btn;
        background: var(--#{$color});
        border: 1px solid transparent;
        &:hover {
            background: none;
            border: 1px solid var(--#{$color});
            color: var(--#{$color});
        }
    }
}