@use "media_queries" as mq;
@mixin title($color) {
    color: var(--#{$color});
    border-bottom: 1px solid var(--#{$color});
    text-shadow: 0px 0px 6px var(--#{$color});
}

@mixin text-color($color) {
    &-#{$color} {
        color: var(--#{$color});
    }
}

%btn {
    font-size: 1.4rem;
  color: var(--background);
  border-radius: 25px;
  display: inline-block;
  padding: 0.8rem 1.6rem;
  margin: 1rem;
}

@mixin btn-color($color) {
    &-#{$color} {
        @extend %btn;
        background: var(--#{$color});
        border: 1px solid transparent;
        transition: all 0.25s ease-out;
        &:hover {
          transition: all 0.2s ease-in;
            background: none;
            border: 1px solid var(--#{$color});
            color: var(--#{$color});
        }
    }
}

@mixin education-border {
    margin: 0;
    padding: 0;
    margin-left: 0.4rem;
    border-left: 1px solid var(--primary);
    padding-left: 3rem;
}

@mixin skills-icon($color, $size) {
    ul {
    margin-bottom: 2rem;
    display: flex;
    li {
      i {
        font-size: $size;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      transition: all 0.4s ease-out;
      &:hover {
        transition: all 0.15s ease-in;
        text-shadow: 0px 0px 3px var($color);
        span {
          transition: all 0.15s ease-in;
          visibility: visible;
        }
      }
      span {
        transition: all 0.4s ease-out;
        font-size: 1.4rem;
        visibility: hidden;
        letter-spacing: 0.1rem;
        @include mq.s {
          visibility: visible;
        }
      }
    }
  }
}