:root {
    // colors
    --primary: #B4A7F7;
    --primary-lighter: #EDDEFF;
    --secondary: #80FFDB;
    --secondary-lighter: #C6FFED;
    --background: #1B1B1B;
    --background-lighter: #242427;
    --text: #E0E0E0;

    // fonts
    --title-font: "Manrope", sans-serif;
    --text-font: "Inter", sans-serif;
    --big-title-font: "Onest", sans-serif;

}