@use "variables" as *;
@use "reset";
@use "classes";
@use "base";
@use "generic";
@use "mixin" as m;

// general
i {
  font-family: var(-text-font);
  // font-size: 5.6rem;
  // margin: 0 1rem;
}
.container {
  margin: 0 auto;
  padding: 0 3rem 2.4rem 3rem;
}

.grid-container {
  max-width: 1400px;
  margin: auto;
  position: relative;
  display: grid;
  grid:
    ". . ." 2.4rem
    "header . main" auto
    "footer . main" auto
    ". . ." 2.4rem
    / 45rem 3rem auto;
}

// LEFT SIDE
aside {
  top: 4rem;
  position: sticky;
}

header {
  grid-area: header;
  h1,
  h3 {
    margin-left: 2rem;
  }
  .description {
    background: var(--background-lighter);
    padding: 2rem;
    border-radius: 12px;
    margin-bottom: 2.4rem;
    opacity: 0.7;
  }
}

// footer [nav + social + credits]
footer {
  grid-area: footer;

  nav {
    a {
      color: var(--primary);
      display: flex;
      align-items: center;
      text-transform: uppercase;
      padding: 1rem 2rem;
      margin-bottom: 0.5rem;
      font-weight: 500;
      font-size: 1.4rem;

      &::before {
        background: var(--primary);
        display: inline-block;
        width: 3rem;
        height: 0.1rem;
        margin-right: 0.5em;
        content: " ";
      }

      &.active::before {
        width: 5rem;
      }
      &:hover {
        text-shadow: 0px 0px 1px var(--primary);
        &::before {
          width: 5rem;
          box-shadow: 0px 0px 1px var(--primary);
        }
      }
    }
  }

  .social {
    // background: red;
    display: flex;
    justify-content: center;
    gap: 3.2rem;
    a {
      font-size: 2.4rem;
      line-height: 4rem;
      color: var(--background);
      background: var(--primary-lighter);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.8rem 1rem;
      opacity: 0.5;
      &:hover {
        opacity: 1;
        box-shadow: 0px 0px 3px var(--primary-lighter);
      }
    }
  }

  .text-hint {
    font-size: 1rem;
    text-align: center;
    margin: 2.8rem 0;
  }
}

// RIGHT SIDE
main {
  grid-area: main;
  text-align: center;
  h2 {
    margin-top: 1.6rem;
    margin-bottom: 4rem;
    letter-spacing: 0.5rem;
    line-height: 4rem;
  }
  article {
    text-align: left;
  }
}

.preview {
  ul {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
    li {
      i {
        font-size: 4rem;
      }
      display: flex;
      flex-direction: column;
      gap: 1rem;
      &:hover {
        text-shadow: 0px 0px 3px var(--primary-lighter);
        span {
          visibility: visible;
        }
      }
      span {
        font-size: 1.4rem;
        visibility: hidden;
      }
    }
  }
}

.experiences {
  article {
    display: flex;
    margin-bottom: 3.2rem;
    .timeline {
      color: var(--secondary);
      text-align: right;
      min-width: 10rem;
      margin-right: 4rem;
      padding-top: 0.5rem;
    }
  }

  .content {
    ul {
      margin-left: 2rem;
      li {
        list-style: circle;
        list-style-position: outside;
      }
    }
    h3 {
      padding: 0;
      margin: 0;
      // line-height: 1.6rem;
      color: var(--secondary);
      font-weight: 400;
      font-size: 1.8rem;
      letter-spacing: 0.1rem;
    }
    h3 + p {
      color: var(--primary-lighter);
      padding: 0;
      padding: 0.4rem 0 1.2rem 0;
      // line-height: 1.6rem;
    }
  }
}
