<div class="social">
  <a href=""><i class="icon-ap" aria-hidden="true"></i></a>
  <a
    rel="noopener"
    href="https://github.com/AdelinePat"
    target="_blank"
    title="Github"
    aria-label="Github"
  >
    <i class="fa-brands fa-github" aria-hidden="true"></i>
  </a>
  <a
    rel="noopener"
    href="https://www.linkedin.com/in/adeline-patenne/"
    target="_blank"
    title="Linkedin"
    aria-label="Linkedin"
  >
    <i class="fa-brands fa-linkedin-in" aria-hidden="true"></i>
  </a>
</div>
<div class="text-hint">
  <p>© Copyright 2024-2025 - <i class="icon-ap" aria-hidden="true"></i> Adeline Patenne - Tous droits réservés</p>
  <p>Le logo a été réalisé par mes soins.</p>
</div>
 <div class="bg-logo big-screen"><i class="icon-ap" aria-hidden="true"></i></div>
