@use "./pages/certifications";
@use "./pages/projects";

@use "./components/modal";
@use "./components/skillbar";
@use "./components/card";
@use "./components/courses";
@use "./components/filter-title";

@use "./style";
